/*Desktop/PC*/
@media (min-width: 1920px) {
    .HomePlayButton {
        left: 46.5%;
    }

    .GameButton {
        left: 46.5%;
    }
    
    .AboutTitle {
        font-size: 50px;
        transform: translateY(300px);
    }

    .AboutInfo{
        font-size: 30px;
        transform: translateY(320px);
    }

    .GameTitle {
        font-size: 50px;
    }

    .GameUpdateInfo {
        font-size: 30px;
    }
    
    .GameButton {
        left: 44.5%;
        font-size: 50px;
    }

    .GameImage {
        left: 44.5%;
    }
}

/*Chromebook2*/
@media (min-width: 1366px) and (min-height: 768px) {
    .GameEmbed {
        left: 35%;
    }

    .GameButton {
        left: 11%;
    }

    .logo {
        padding-right: 600px;
    }

    .AboutTitle {
        transform: translateY(400px);
    }

    .AboutInfo {
        transform: translateY(420px);
    }
}

/*Chromebook3*/
@media (min-width: 1300px) and (min-height: 731px) {
    .AboutTitle {
        transform: translateY(450px);
    }

    .AboutInfo {
        transform: translateY(470px);
    }

    .GameButton {
        left: 11.5%;
    }

    .logo {
        padding-right: 550px;
    }
}