/*Desktop/PC*/
@media (min-width: 1920px) {
    .HomePlayButton {
        left: 46.5%;
    }

    .GameButton {
        left: 46.5%;
    }
    
    .AboutTitle {
        font-size: 50px;
        transform: translateY(300px);
    }

    .AboutInfo{
        font-size: 30px;
        transform: translateY(320px);
    }

    .GameTitle {
        font-size: 50px;
    }

    .GameUpdateInfo {
        font-size: 30px;
    }
    
    .GameButton {
        left: 44%;
        font-size: 50px;
    }
}   