* {
    background-color: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    min-height: 8vh;
    display: flex;
    list-style: none;
}

.navbar ul {

}

.navbar ul li {
    list-style: none;
    text-decoration: none;
}

.navbar ul li a {

}