* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #333;
    min-height: 10vh;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    padding-left: 60px;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    width: 40%;
}

.navbar ul li {
    list-style: none;
    padding-right: 30px;
}

.navbar ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

.HomeBigText {
    text-align: center;
    transform: translateY(100px);
    font-size: 40px;
}

.HomePlayButton {
    position: relative;
    border-style: none;
    border-radius: 10px;
    font-size: 38px;
    left: 50%;
    transform: translateY(120px);
}